@model IEnumerable<ReviewsSite.Models.Album>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Style/StyleSheet.css" rel="stylesheet" />
    <title>Across the Universe</title>
</head>
<body>
    <section class="container">
        <h1>Beatles Albums</h1>
        @foreach (var album in Model)
        {
            <img src=/Images/@album.Image> 
            <p class="title">Title: <a href="/Album/Details/@album.Id">@album.Name</a></p>
            @*<p class="title">Description: <span>@album.Description</span></p>*@
            <p class="title">Category: <span>@album.Category</span></p>
            <hr />
        }
    </section>


</body>
</html>
