@model IEnumerable<ReviewsSite.Models.Album>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Style/StyleSheet.css" rel="stylesheet" />
    <title>Across the Universe</title>
</head>
<body>
    <section class="container">
        <div class="card">
                <h1>Beatles Albums</h1>
                <hr />
                <div class="index-links">
                    <a class="reviews index-link" href="/Review/Index">All Reviews</a>
                    <a class="index-link" href="/Review/Create">Write a Review</a>
                </div>
                <hr />
                @foreach (var album in Model)
                {
                    <a class="img-a" href="/Album/Details/@album.Id"><img src=/Images/@album.Image></a>
                    <p class="index-title">Title: <strong><a href="/Album/Details/@album.Id">@album.Name</a></strong></p>
                    <p class="category">Category: <span>@album.Category</span></p>
                    <hr />
                }
            </div>
    </section>


</body>
</html>
