@model IEnumerable<ReviewsSite.Models.Review>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reviews</title>
</head>
<body>
    <h1> Reviews List</h1>
    @foreach (var instructor in Model)
    { 
      /// <p>Name: <a href="/"</p>
    }
</body>
</html>
