@model ReviewsSite.Models.Review
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Style/StyleSheet.css" rel="stylesheet" />
    <title>Update</title>
</head>
<body>


<hr />
<div class="container">
        <h2>Update Review</h2>
        <hr />
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea asp-for="Content" class="form-control content-box"> </textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReviewerName" class="control-label"></label>@*&nbsp;&nbsp;*@
                <input asp-for="ReviewerName" class="form-control" />
                <span asp-validation-for="ReviewerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>@*&nbsp;&nbsp;&nbsp;*@
                <input asp-for="Rating" class="form-control" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
        <div class="form-group">
            <label asp-for="AlbumId" class="control-label"></label>@*&nbsp;&nbsp;*@
            <select class="form-control" asp-for="AlbumId">
                <option value="1">Please Please Me</option>
                <option value="2">Meet the Beatles</option>
                <option value="3">Hard Day's Night</option>
                <option value="4">Beatles for Sale</option>
                <option value="5">Help!</option>
                <option value="6">Rubber Soul</option>
                <option value="7">Revolver</option>
                <option value="8">Sgt. Pepper's Lonely Hearts Club Band</option>
                <option value="9">Magical Mystery Tour</option>
                <option value="10">White Album</option>
                <option value="11">Yellow Submarine</option>
                <option value="12">Abbey Road</option>
                <option value="13">Let It Be</option>
            </select>
        </div>
            <div class="button-group">
                <a asp-action="Index"><input class="button" type="submit" value="Update"/></a>
            </div>
        </form>
        <div class="nav-links">
            <a class="nav-link link" href="/Album/Reviews/@Model.AlbumId">Back to Reviews</a>
        </div>
</div>



</body>
</html>
