* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    background: #333;
    justify-content: center;
    align-items: center;
    background-color: #333;
    line-height: 1.5;
}

.title {
    font-size: 6rem;
    color: red;
}

a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #404040;
}

img {
    width: auto;
    height: 400px;
    margin: 0 auto;
    padding: 2rem 5rem;
}

.container {
    /*width: 1000px;*/
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #eee;
}

    .container .card {
        position: relative;
        border-radius: 10px;
        box-shadow: 0 20px 50px rgba(0,0,0, .8);
        padding: 2rem;
    }

    

h1 {
    text-align: center;
    font-size: 6rem;
}

.reviews {
    display: flex;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    line-height: 1.6;
    font-size: 1.3rem;
}

.reviews-content {
    padding: 1.2rem;
    line-height: 1.75;
    font-size: 1.5rem;
}


