@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4f4e4e;
    line-height: 1.5;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #eee;
}

    .container .card {
        position: relative;
        box-shadow: 0 20px 50px rgba(0,0,0, .8);
        padding: 2rem;
    }

a {
    text-decoration: none;
    color: #333;
}

hr {
    margin: 1rem 0;
}

.index-links {
    display: flex;
    justify-content: space-evenly;
    font-weight: 600;
}

.index-link {
    border-bottom: #333 .05rem solid;
    margin: 0 1.5rem 0 1.5rem;
}



.link:hover {
    background-color: lightgray;
}

.album-link {
    font-weight: 600;
}

.nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
}

.nav-link {
    margin: .6rem;
    font-weight: 600;
}

.ud-link {
    margin: 1rem 0 .5rem 0;
}

h1 {
    text-align: center;
    font-size: 3rem;
}

h2 {
    text-align: center;
    margin: 1rem 6rem 0 6rem;
}

.card h2 {
    margin-top: 0;
}

img {
    width: auto;
    height: 400px;
    margin: 0 auto;
    padding: 1rem 5rem;
}

.img-a:hover {
    border-bottom: none;
}


.album-name {
    font-size: 1.5rem;
    font-weight: 600;
}

.category {
    padding-bottom: 1rem;
}

/*Reviews sections*/

.review-title {
    font-size: 2.5rem;
}

.review p {
    padding: 0.4rem 0;
}

/*Create Page*/

textarea {
    font-family: 'Montserrat', sans-serif;
    font-size: .8rem;
    padding: .25rem
}

input {
    padding: .25rem;
}

.form-group {
    display: flex;
    justify-content: flex-start;
    padding: 1.2rem;
}

.content-box {
    height: 7rem;
    width: 20rem;
}

select {
font-family: 'Montserrat', sans-serif;
}

label {
    width: 25%;
    padding-right: 1.3rem;
}

.form-control {
    text-align: justify;
    width: 75%;
    font-family: 'Montserrat', sans-serif;
    font-size: .8rem;
}

.text-danger {
    color: darkred;
    text-align: center;
    font-size: small;
}

.button {
    margin: 0 auto;
    padding: .4rem .6rem;
    font-size: 1rem;
}

.button-group {
    display: flex;
    justify-content: center;
    margin: 1.5rem auto;
}

.create-by-album-button {
    margin-top: 0;
}

/*Delete*/
.delete-info p {
    padding-top: .5rem;
}

.back-to-top {
    position: fixed;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    color: white;
    font-size: .75rem;
    text-align: center;
}

.back-to-top p {
    padding: 0;
}