@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    background: #333;
    justify-content: center;
    align-items: center;
    background-color: #333;
    line-height: 1.5;
}


a {
    text-decoration: none;
    color: #404040;
}

hr {
    margin: 1rem 0;
}

h1 {
    text-align: center;
    font-size: 3rem;
}

img {
    width: auto;
    height: 400px;
    margin: 0 auto;
    padding: 2rem 5rem;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #eee;
}

    .container .card {
        position: relative;
        border-radius: 10px;
        box-shadow: 0 20px 50px rgba(0,0,0, .8);
        padding: 2rem;
    }

.index-title {
    font-size: 1.5rem;
}

.category {
    padding-bottom: 1rem;
}

/*Reviews sections*/

.review-title {
    font-size: 2.5rem;
    padding-top: 1.5rem;
}

.review p {
    padding: 0.4rem 0;
}

/*Create Page*/

.form-group {
    display: flex;
    justify-content: flex-start;
    padding: 1.2rem;
}

.control-label {
    padding-right: 1.3rem;
}

.form-control-content {
    padding: 2rem;
}

.form-control {
    
}

.btn {
    margin: 0 auto;
    padding: .5rem 1.5rem;
    font-size: 1.2rem;
}

.back-btn {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 1rem 1.5rem;
    font-size: 1.2rem;
}

button {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: .4rem .6rem;
    font-size: 1rem;
}
